body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
}

.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* HEADER */
.header{
  display: flex;
  border-bottom: 1px solid seashell;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  height: 69px;
  z-index: 10;
}

.header .logo{
  height: 50px;
  margin-left: 10px;
}

.header .nav{
  display: flex;
  margin-right: 10px;
}

.header .nav a{
  padding: 20px 10px;
  color: seashell;
}
/* HEADER */

/*CONTENT*/
.content{
  position: relative;

  top: 69px;
}
/*CONTENT*/


/*MISSION*/
.mission{

  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission img{
  height: 700px;

  width: 1200px;
}

.mission .info{
  position: absolute;
 width: 100%;
 background-color: black;
 text-align: center;
 padding: 0px;
 margin: 0px;
}

.mission .info h2{
  font-size: 1.5em;
  margin: 0px;
  padding: 5px;
}

.mission .info h4{
  font-size: 22px;
  margin: 0px;
  padding: 5px;
}
/*MISSION*/

/*FEATURED*/

.featured{

  width: 1000px;
text-align: center;
margin-top: 30px;
}

.featured1{
  display: flex;
justify-content: space-around;
}

.fall p{
  margin: 10px;
}

.fall img{
height: 200px;
width: 300px;
}

.spiced p{
  margin: 10px;
}

.spiced img{
height: 200px;
width: 300px;
}

.seasonal p{
  margin: 10px;
}

.seasonal img{
height: 200px;
width: 300px;
}

.featured2{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.myrtle{
  margin-right: 30px;
}

.myrtle p{
  margin:10px;
}

.myrtle img{
height: 200px;
width: 300px;
}

.bedford p{
  margin: 10px;
}

.bedford img{
height: 200px;
width: 300px;
}
/*Featured*/

/*Locations*/
.locations{
  width: 1200px;
  display: flex;

  height: 500px;
  justify-content: center;
  margin-top: 80px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  justify-content: space-around;
  flex-direction: column;
}

.locations h2{
display: flex;
justify-content: center;
}

.loc1{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 70px;
  opacity: 1.0;
  padding: 10px;

}

.downtown{
  width: 300px;
  height: 300px;
  background-color: black;
  margin-right: 40px;
  text-align: center;
}

.east{
  width: 300px;
  height: 300px;
  background-color: black;
  margin-right: 40px;
  text-align: center;
}

.oakdale{
  width: 300px;
  height: 300px;
  background-color: black;
margin-right: 25px;
  text-align: center;
}
/*Locations*/

/*Contact*/
.contact{
  display: flex;
  flex-direction: column;

  width: 100%;
  text-align: center;
  height: 200px;
}
.contact h2{
margin: 0px;
}

.footer{
  
  width: 100%;
  padding-left: 20px;
}
/*Contact*/
